{% extends "layout.html" %}
{% block style %}
{{ super() }}
{% endblock style %}
{% block body %}
    <div class="container">
        <div class="columns">
            <div class="column col-6 col-ml-auto">
                <div class="card my-2">
                    <div class="card-header">
                        <div class="card-title h5 text-dark">This is Post Title</div>
                        <div class="card-subtitle text-gray">Maybe Username here</div>
                    </div>
                    <div class="card-body">
                        This here will be makrdoen file
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Read More Button</button>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-header">
                        <div class="card-title h5 text-dark">This is Post Title</div>
                        <div class="card-subtitle text-gray">Maybe Username here</div>
                    </div>
                    <div class="card-body">
                        This here will be makrdoen file
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Read More Button</button>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-header">
                        <div class="card-title h5 text-dark">This is Post Title</div>
                        <div class="card-subtitle text-gray">Maybe Username here</div>
                    </div>
                    <div class="card-body">
                        This here will be makrdoen file
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Read More Button</button>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-header">
                        <div class="card-title h5 text-dark">This is Post Title</div>
                        <div class="card-subtitle text-gray">Maybe Username here</div>
                    </div>
                    <div class="card-body">
                        This here will be makrdoen file
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Read More Button</button>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-header">
                        <div class="card-title h5 text-dark">This is Post Title</div>
                        <div class="card-subtitle text-gray">Maybe Username here</div>
                    </div>
                    <div class="card-body">
                        This here will be makrdoen file
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Read More Button</button>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-header">
                        <div class="card-title h5 text-dark">This is Post Title</div>
                        <div class="card-subtitle text-gray">Maybe Username here</div>
                    </div>
                    <div class="card-body">
                        This here will be makrdoen file
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Read More Button</button>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-header">
                        <div class="card-title h5 text-dark">This is Post Title</div>
                        <div class="card-subtitle text-gray">Maybe Username here</div>
                    </div>
                    <div class="card-body">
                        This here will be makrdoen file
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Read More Button</button>
                    </div>
                </div>
            </div>
            <div class="column col-3 col-mx-auto">
                <div class="card p-sticky">
                    <div class="card-header">
                        <h1 class="text-dark">Side Tab</h1>
                    </div>
                    <div class="card-body text-dark">
                        <p>
                        Consectetur quis quisquam adipisicing quam excepturi. Sunt officia amet aspernatur atque ex? Id expedita recusandae praesentium dignissimos rerum Nostrum reiciendis voluptatum cupiditate explicabo expedita Repellendus expedita soluta cumque ipsa veritatis?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
