{% extends "layout.html" %}
{% block style %}
{{ super() }}
{% endblock style %}
{% block body %}
    <div class="container">
        <div class="column col-md-12 col-6 col-mx-auto">
            <div class="card">
                <div class="card-head text-dark">
                    <h1>Login Form</h1>
                </div>
                <form class="form-group">
                    <div class="card-body text-dark">
                        <lable class="form-lable h4 my-2">E-mail</lable>
                        <input class="form-input my-2" type="email">
                        <lable class="form-lable h4 my-2">Password</lable>
                        <input class="form-input my-2" type="password">
                        <label class="form-checkbox">
                            <input type="checkbox">
                            <i class="form-icon"></i> Remember me
                        </label>
                        <input type="submit" class="btn btn-primary p-2" value="Login">
                    </div>
                </form>
                <div class="card-footer">
                    <a href="#" class="d-block">Need to sign up?</a>
                    <a href="#" class="text-muted">Forget Password</a>
                </div>
            </div>
        </div>
     </div>
{% endblock body %}
