{% extends "layout.html" %}
{% block style %}
{{ super() }}
{% endblock style %}
{% block body %}
    <div class="container">
        <div class="column col-md-12 col-6 col-mx-auto">
            <div class="card">
                <div class="card-head text-dark">
                    <h1>Registration Form</h1>
                </div>
                <form class="form-group" method="POST">
                    {{ form.csrf_token }}
                    <div class="card-body text-dark">
                        {{ form.name.label(class="form-lable h4 my-2") }}
                        {{ form.name(class="form-input my-2") }}
                        {{ form.email.label(class="form-lable h4 my-2") }}
                        {{ form.email(class="form-input my-2") }}
                        {{ form.password.label(class="form-lable h4 my-2") }}
                        {{ form.password(class="form-input my-2") }}
                        <input type="submit" class="btn btn-primary p-2" value="Login">
                        {{ form.submit(class="btn btn-primary p-2") }}
                    </div>
                </form>
                <div class="card-footer">
                    <a href="{{ url_for('login') }}" class="d-block">Already Have an account?</a>
                </div>
            </div>
        </div>
     </div>
{% endblock body %}
